config NET_VENDOR_MEDIATEK
	tristate "Mediatek/Ralink ethernet driver"
	depends on RALINK
	help
	  This driver supports the ethernet mac inside the Mediatek and Ralink WiSoCs

config NET_MEDIATEK_SOC
	def_tristate NET_VENDOR_MEDIATEK

if NET_MEDIATEK_SOC
choice
	prompt "MAC type"

config NET_MEDIATEK_RT2880
	bool "RT2882"
	depends on MIPS && SOC_RT288X

config NET_MEDIATEK_RT3050
	bool "RT3050/MT7628"
	depends on MIPS && (SOC_RT305X || SOC_MT7620)

config NET_MEDIATEK_RT3883
	bool "RT3883"
	depends on MIPS && SOC_RT3883

config NET_MEDIATEK_MT7620
	bool "MT7620"
	depends on MIPS && SOC_MT7620

config NET_MEDIATEK_MT7621
	bool "MT7621"
	depends on MIPS && SOC_MT7621

endchoice

config  HW_IPSEC
	depends on RALINK_MT7621
	bool    "HW IPSec Enable"
	default n

config  RALINK_HWCRYPTO
	depends on HW_IPSEC
	tristate "HW Crypto Engine"
	select RALINK_HWCRYPTO_2
	default m

config  RALINK_HWCRYPTO_2
	depends on HW_IPSEC
	bool "HW Crypto Engine 2"

#######
# NAT
#######
choice
prompt "Ralink NAT Type"
	
config  RA_NAT_NONE
bool "None"
config  RA_NAT_HW
bool "Hardware"
depends on !RALINK_RT5350
endchoice

source "net/nat/hw_nat/Kconfig"

config NET_MEDIATEK_OFFLOAD
	def_bool NET_MEDIATEK_SOC
	depends on !RA_NAT_HW && NET_MEDIATEK_MT7621

config NET_MEDIATEK_HW_QOS
	def_bool NET_MEDIATEK_SOC
	depends on NET_MEDIATEK_MT7623

config NET_MEDIATEK_MDIO
	def_bool NET_MEDIATEK_SOC
	depends on (NET_MEDIATEK_RT2880 || NET_MEDIATEK_RT3883 || NET_MEDIATEK_MT7620 || NET_MEDIATEK_MT7621)
	select PHYLIB

config NET_MEDIATEK_MDIO_RT2880
	def_bool NET_MEDIATEK_SOC
	depends on (NET_MEDIATEK_RT2880 || NET_MEDIATEK_RT3883)
	select NET_MEDIATEK_MDIO

config NET_MEDIATEK_MDIO_MT7620
	def_bool NET_MEDIATEK_SOC
	depends on (NET_MEDIATEK_MT7620 || NET_MEDIATEK_MT7621)
	select NET_MEDIATEK_MDIO

config NET_MEDIATEK_ESW_RT3050
	def_tristate NET_MEDIATEK_SOC
	depends on NET_MEDIATEK_RT3050

config NET_MEDIATEK_GSW_MT7620
	def_tristate NET_MEDIATEK_SOC
	depends on NET_MEDIATEK_MT7620

config NET_MEDIATEK_GSW_MT7621
	def_tristate NET_MEDIATEK_SOC
	depends on NET_MEDIATEK_MT7621

endif
